.main {
    text-align: center;
    margin: auto;
  }
  .WrapImg {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    min-height: 244.86px;
    height: 244.86px;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: #888888;
    overflow: hidden;
    width: 0;
    height:100%;
    transition: .5s ease;
  }

  .WrapImg:hover .overlay {
    right: 0;
    width: 100%;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }